@import "base/reset.scss"; /* remet à zéro les règles du navigateur */
@import "utils/variables"; /* polices du projet*/
@import "components/loader.scss";
@import "components/button.scss"; /* boutons */
@import "components/like.scss";
@import "components/card.scss"; /* cartes */
@import "components/logo.scss"; /* logos */
@import "components/search.scss";
@import "components/plat.scss";
@import "layout/description.scss";
@import "layout/main.scss";
@import "layout/main-restaurant.scss";
@import "layout/footer.scss";
@import "layout/howto.scss";
@import "vendors/fontawesome/scss/fontawesome.scss";
@import "vendors/fontawesome/scss/solid.scss";


body{
    font-family: $text-font-family;
}

header{
  text-align: center;
}

section{
    padding: 40px 20px;
}

h2{
  font-size: 1.5em;
  font-family: $text-font-family;
  font-weight: 600;
  padding: 10px 0px;
}
h3{
  font-size: 1.1em;
  font-weight: 500;
}


h4{
  font-size: 1.2em;
  font-family: $title-font-family;
}

p{
    font-weight: 300;
}