header{
    .explore{
        background-color: $background-help;
        
        h2{
            margin: 0px 40px;
        }
        p{
            margin: 20px 0px;
            font-size: 1.1em;
            color: $background-footer;
        }   
        button{
            margin: 16px;
        }
    }
}