@import "../vendors/fontawesome/scss/fontawesome.scss";
@import "../vendors/fontawesome/scss/solid.scss";

footer{
    background-color: $background-footer;
    padding: 25px;
    &, a{
        color: $font-color-footer;
    }
    a{
        text-decoration: none;
        font-size: 1em;
        &:hover{
            animation: ease-in-out footer-a-hover 1000ms forwards ;
        }
    }
    h4{
       padding-bottom: 20px;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    li{
        width: 325px;
        padding-bottom: 0.7em;
    }
    .footer-icon{
        @extend %fa-icon;
        @extend .fas;
        width: 25px;
        font-size: 0.9em;
        &__fork{
            &:before {
                content: fa-content($fa-var-utensils);
            }
        }

        &__help{
            &:before{
                content: fa-content($fa-var-hands-helping);
            }
        }
    }
}

@keyframes footer-a-hover {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.6;
    }
    
}