@import "../vendors/fontawesome/scss/fontawesome.scss";
@import "../vendors/fontawesome/scss/solid.scss";

#howto {
    padding-bottom: 60px;
    .help {
        &__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
        }
        width: 100%;
        max-width: 335px;
        position: relative;
        padding:10px 0px;
        &__num {
            position: absolute;
            top: 36px;
            left: 0%;
            background-color: $primary;
            color: $background-help;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            line-height: 25px;
            text-align: center;
            
        }
        &__button {
            @include shadow;
            background-color: $background-help;
            height: 75px;
            margin-left: 10px;
            border-radius: 20px;
            &:hover{
                @include shadow-hover;
            }
            display: flex;
            align-items: center;
            padding: 30px;
           
            &__secondary {
                background-color: $background-help-secondary;
            }

            &__logo {
                @extend %fa-icon;
                @extend .fas;
                color: $help-logo-color;
                width: 25px;
                height: 20px;
                text-align: center;
                font-size: 18px;
                &__phone {
                    &:before {
                        content: fa-content($fa-var-mobile-alt);
                    }
                }

                &__menu {
                    display: flex;
                    align-items: center;

                    &__dot {
                        margin: 1px;
                        display: inline-block;

                        &:before {
                            content: fa-content($fa-var-ellipsis-v);
                        }
                    }

                    &__bar {
                        display: inline-block;

                        &:before {
                            content: fa-content($fa-var-bars);
                        }
                    }
                }

                &__shop {
                    color: $primary;

                    &:before {
                        content: fa-content($fa-var-store);
                    }
                }
            }

            &__description {
                font-weight: 500;
               padding-left: 20px;
            }
        }
    }
}