.head-restaurant {
    height: 200px;

    &-img {
        background-size: cover;
        height: 250px;
        width: 100%;
        overflow: hidden;

        &-alafrancaise {
            background-image: url($background-alafrancaise);
        }
        &-palettegout{
            background-image: url($background-palettegout);
        }
        &-noteenchantee{
            background-image: url($background-noteenchantee);
        }
        &-delicesens{
            background-image: url($background-delicesens);
        }
    }
}
.restaurant {
    background-color: $background-help;
    padding: 40px 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    &-header {
        padding-bottom: 20px;
        display: flex;
        align-items: center;

        &-title {
            width: 85%;
            font-family: $title-font-family;
            font-size: 1.6rem;
        }

        &-like {
           @include like;

        }
    }


    &-course {
        text-transform: uppercase;
        font-weight: 300;

        &-underline {
            width: 40px;
            height: 3px;
            background-color: $tertiary;
            margin: 5px 0px;
        }
    }

    





















    &-order-button-container {
        text-align: center;
        padding: 40px;
    }
}