/*boutons rectangles avec bords gauche et droit en demi-cercle, 
avec fond dégradé de la couleur primary vers secondary,
en partant du coin en haut à gauche*/
.action-button{
    padding: 15px 20px;
    background: linear-gradient(to top left, $primary, 50%, $secondary);
    border: 0;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: $text-font-family;
    @include shadow;
   
    &:hover{
        opacity: 0.8;
        @include shadow-hover
    }
}

