@import "../vendors/fontawesome/scss/fontawesome.scss";
@import "../vendors/fontawesome/scss/solid.scss";
@import "../vendors/fontawesome/scss/regular.scss";

.restaurant-card {
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px;
    }
  @include shadow;
  background-color: $background-restaurant-card;
  margin: 20px 0px;
  border-radius: $card-border-radius;
  height: 250px;
  width: 335px;
  &:hover {
    @include shadow-hover;
  }
  a {
    text-decoration: none;
    color: $font-color;
  }

  &__header {
    position: relative;
    overflow: hidden;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    height: 175px;

    &__image {
      position: absolute;

      &__portrait {
        bottom: -55%;
      }

      &__landscape {
        top: -30%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    &__new {
      position: absolute;
      color: $font-color-new-button;
      background-color: $background-color-new-button;
      border-radius: 3px;
      font-size: 0.9em;
      top: 7%;
      right: 5%;
      padding: 5px 10px;
      font-weight: 500;
    }
  }

  &__body {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      padding-top: 5px;
    }
    &__like {
      @include like;
    }
  }
}
