@mixin like{
    @extend %fa-icon;
    font-size: 1.3em;
    margin-right: 10px;
    @extend .far; //regular, la maquette utilise light seulement disponible dans la pro
    transition: all 0.3s ease-in-out;
    &:before {
        content: fa-content($fa-var-heart);
    }

    &:hover {
        @extend .fas; // passage en solid plutot en regular (logo plein)
        background: linear-gradient(to bottom left, $primary, 50%, $secondary); // gradient sur le background
        background-clip: content-box;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; // texte transparent : seul le background avec gradient s'affiche, le logo se masque
    }
}