$animation-duration: 3142ms;

.load{
    height: 99%;
    width: 99%;
    padding:10%;
    position: absolute;
    overflow: hidden;
    transform-origin: left;
    background-color: white;
animation: ease-in-out loader 1000ms $animation-duration both;
    &__title{
        text-align: center;
        font-family: $title-font-family;
        font-size: 3rem;
        animation: ease-in-out 1s infinite alternate title ;
        margin: 10vh 0vh;
    }
    &__spinner{
        height: 80px;
        width: 80px;
        display: block;
        margin: auto;
        &:after{
            animation: spinner 1s linear infinite;
            content:"";
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 6px solid $primary;
            border-color: $secondary white $secondary white;
        }
    }
}

.container{
    transform: scale(0);
    background-color: white;
    animation: ease-in-out container 1000ms $animation-duration  both;
}

@keyframes loader {
    0%{
        transform: scaleX(1);
    }
    100%{
        background-color: white;
        color: white;
        transform: scaleX(0) ;
    }
}

@keyframes title {
    0%{
        opacity: (0.5);
    }
    100%{
        opacity: (1);
    }
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes container {
    0%{
        transform: scale(0) translateX(9999px);
    }
    1%{
        transform: scale(1) translateX(9998px); //correction pour chrome
    }
    70%{
        transform: translateX(-50px);
    }
    90%{
        transform: translateX(20px);
    }
    100%{
        transform:  translateX(0px);
        
    }
}