.logo{
    height: 62px;
    background-repeat: no-repeat;
    background-position: bottom 10px center;
    background-image: url("../images/logo/ohmyfood@2x.svg");
    background-size: 11em;
    background-color: $background-logo;
    position: sticky;
    top: 0;
    z-index: 1;
    &-arrow {
        text-decoration: none;
        position: fixed;
        top: 25px;
        left: 20px;
        @extend %fa-icon;
        font-size: 1.2em;
        color: black; /*TODO */
        opacity: 0.7;
        @extend .fas;
        &:before {
          content: fa-content($fa-var-arrow-left);
        }
        &:hover{
          animation: ease-in-out hoverarrow 1000ms infinite alternate;
        }
      }
}

@keyframes hoverarrow{
  0%{
    opacity: 0.7;
  }
  100%{
    opacity: 0.3 ;
  }
}