
.plats{
  display: flex;
  flex-wrap: wrap;
}


@for $i from 1 through 10 {
  .plat#{$i} {
    animation: plat-opacity .5s ($i * 0.2s) ease-in-out both;
  }
}

.plat{
  @include shadow;
  width: 95%;
  max-width: 375px;
  height: 70px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 14px auto;
  &__contenu{
    width: 100%;
    height: 100%;
    padding: 15px 20px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__titre{
      width: 100%;
      height: 50%;
      h3{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &__details{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__description{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.95em;
        font-weight: 300;
      }
      &__prix{
        font-size: 0.95em;
        font-weight: 500;
      }
    }
  }
  &__commande{
    background-color: $tertiary;
    width: 0px;
    height: 100%;
    transform: scaleX(0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__icone{
      @extend %fa-icon;
      @extend .fas;
      font-size: 1.4em;
      color: white;
      &:before {
        content: fa-content($fa-var-check-circle);
      }
    }
  }
  &:hover{
    cursor: pointer;
  }
  &:hover &__commande{
    transform-origin: right;
    animation: show-commande 500ms ease-in-out forwards;
    &__icone{
      animation: rotate-icone 500ms linear both;
    }
  }
}

@keyframes show-commande{
  0%{
    transform: scaleX(0);
  }
  100%{
    width: 60px;
    transform: scaleX(1);
  }
}

@keyframes rotate-icone {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes plat-opacity {
  0%{
    opacity: (0);
    transform: translateY(10px);
  }
  100%{
    opacity: (1);
    transform: translateY(0px);
  }
}