.search{
    width: 100%;
    background-color: $background-search;
    height: 50px;
    text-align: left;
    color: $background-footer;
    box-shadow: inset 0px 10px 10px -15px $help-logo-color;
    &__items{
        width: 90vw;
        margin: auto;
        text-align: center;
        &__icon {
            display: inline-block;
            font-size: 0.9em;
            @extend %fa-icon;
            margin-right: 15px;
            @extend .fas;
            
            &:before {
                content: fa-content($fa-var-map-marker-alt);
            }
        }
        &__city{
            display: inline-block;
            line-height: 50px;
            vertical-align: middle;
            font-weight: 500;
        }
    }
}