/* Shrikhand pour logo et titres */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$title-font-family: 'Shrikhand', cursive;

/* Roboto pour le texte*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$text-font-family: 'Roboto', sans-serif;

/* Couleurs */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$font-color: black;
$background-logo: white;
$background-footer: #353535;
$background-restaurant-card: white;
$font-color-footer: white;
$background-restaurant: #F4F4F4;
$background-help: #F6F6F6;
$background-help-secondary: #f5edff;
$background-color-new-button:  #99e2d0;
$font-color-new-button: #008766;
$help-logo-color: #7e7e7e;
$background-search: #eaeaea;
/*              */
$card-border-radius: 20px;
$margin-left-right: 20px;

$background-palettegout: '../images/restaurants/palettegout.jpg';
$background-noteenchantee: '../images/restaurants/noteenchantee.jpg';
$background-alafrancaise: '../images/restaurants/alafrancaise.jpg';
$background-delicesens: '../images/restaurants/delicesens.jpg';

@mixin shadow {
    box-shadow: 0px 5px 10px 0px #C6C6C6;
    transition: all 0.3s ease-out;
}

@mixin shadow-hover {
    box-shadow: 0px 5px 10px 0px #666565;
}